<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Instagram Reels Analytics</title>
	<script src="/jquery-3.1.0.min.js"></script>
</head>
<body>
	<h1>Instagram Reels Analytics</h1>
	<form action="/scraper" method="POST">
		<label for="username">Instagram handle</label>
		<input type="text" id="username" name="username">
		<button type="submit">Submit</button>
	</form>

	<p style="color: red;"><%- errorMsg -%></p>

	<script>
		$(document).ready(function(){
			$("form").on('submit', function(e){
				e.preventDefault();
				$.ajax({
					type: 'POST',
					url: $(this).attr('action'),
					data: $(this).serialize(),
					success: function(data) {
						document.write(data)
					},
					error: function(XMLHttpRequest, textStatus, errorThrown) {
						console.log("failed");
					}
				})
			});
		});
	</script>
</body>
</html>