<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Analytics for Instagram Reels</title>
	<link rel="stylesheet" href="/style.css">
</head>
<body>
	<h1>Instagram Reels Analytics</h1>
	<form action="/scraper" method="POST">
		<label for="username">Instagram handle</label>
		<input type="text" id="username" name="username" autofocus>
		<button type="submit">Generate Report</button>
	</form>

	<p style="color: red;"><%- errorMsg -%></p>

	<img src="/img/loader.gif" alt="Loader" width="32" height="32" style="display: none;">

	<script>

		const usernameInput = document.querySelector('input[name="username"]')

		document.querySelector('form').addEventListener('submit', (event) => {
			if (usernameInput.value == "") {
				event.preventDefault()
				document.querySelector('p').innerHTML = "Enter an Instagram handle"
				return;
			} else {
				document.querySelector('img').style.display = "block"
				document.querySelector('p').style.display = "none"
				setTimeout(() => {
					usernameInput.setAttribute('disabled', '')
					document.querySelector('button[type="submit"').setAttribute('disabled', '')
				}, 50);
			}
		})
	</script>
</body>
</html>